<p>
  <strong>Critico:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comentario:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Borrar Comentario', [comment.article, comment],
               method: :delete,
               data: { confirm: '¿Está Seguro de borrar le comentario?' } %>
</p>
